body {
	font-size: 16px;
	color: #dfdfdf;
	background-color: #063647;
  }
  
  a {
	color: #00d1b2;
  }
  
  a:hover {
	color: #00d1b2;
  }
  #icon {
	padding: 5px;
	/* margin-left: 5px; */

  }
  section {
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  
  .section-1 {
	background: #063647;
  }
  
  .section-2 {
	background-color: #052d3d;
  }
  
  .section-3 {
	background-color: #0e282e;
  }
  
  .section-4 {
	background-color: #063647;
	padding: 0.2rem;
  }
  
  a.nav-item {
	color: #dfdfdf !important;
	display: flex !important;
	justify-content: center !important;
	text-align: center; /* To center the text horizontally */
	text-decoration: none; /* Remove underline from links */
	padding: 10px; /* Add some padding to the links for spacing */
  }
  
  a.nav-item:hover {
	color: #fff;
  }
  .icon {
	margin-right: 50px; /* Add margin between the icon and text */
  }
  
  .avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 5px solid rgba(113, 182, 61, 0.834); /* Add a white border */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
	background-size: cover; /* Ensure the image covers the entire circle */
	background-position: center; /* Center the image within the circle */
	transition: transform 0.2s; /* Add a hover effect */
	margin-right: 10px;
	
  }
  
  
  .intro-description {
	padding-top: 1rem;
  }
  
  .social-container img {
	max-width: 100%;
	max-height: 175px;
	margin-bottom: 10px;
  }
  
  .project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
  }
  
  .project-text {
	text-align: justify;
  }
  
  .box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
  }
  
  .title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
  }
  
  .intro {
	text-align: justify;
	width: 50%;
	margin: 0 auto;
  }
  
  .void-background {
	background-color: transparent;
  }
  
  @media screen and (max-width: 768px) {
	.nav-menu {
	  background-color: #063647;
	}
  
	.nav-toggle:hover {
	  background-color: transparent;
	}
  
	.nav-toggle span {
	  background-color: #dfdfdf;
	}
  
	.nav-toggle span:hover {
	  background-color: #fff;
	}
  }
  
  nav {
	background-color: #555;/
	
	padding: 5px; /* Add some padding to the navigation bar */
	text-align: center; /* Center-align the text */
	font-size: 20px; /* Font size */
	font-weight: bold; /* Font weight */
	border-radius: 20px;
	width:auto ;

  }
  hr{
	background-color: #dbdbdb;
    border: none;
    height: 1px;
    margin: 1.5rem 0;
	margin-bottom: 1px;
	border-radius: 50px;
  }
  
  /* Style for hover effect on the navigation */
  
  